.picsart-23-03-29-14-00-52-189-icon1 {
  position: absolute;
  top: 60px;
  left: 1158px;
  width: 105px;
  height: 105px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-linen);
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 86.4px;
  height: 95px;
}
.home-icon,
.vector-icon3 {
  position: absolute;
  top: 74px;
  left: 26.8px;
  width: 32.9px;
  height: 14.8px;
}
.vector-icon3 {
  top: 19.5px;
  left: 22.9px;
  width: 40.3px;
  height: 40.9px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 83px;
  width: 86.4px;
  height: 95px;
}
.a-child {
  top: -1px;
  left: -1px;
  width: 106px;
  height: 115.6px;
}
.a,
.a-child,
.button-icon {
  position: absolute;
}
.button-icon {
  top: 28px;
  left: 22px;
  width: 53px;
  height: 58px;
  object-fit: cover;
}
.a {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 108px;
  left: 350px;
  width: 96px;
  height: 105.6px;
}
.button-icon1 {
  position: absolute;
  top: 24px;
  left: 26px;
  width: 45px;
  height: 62px;
  object-fit: cover;
}
.b {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 108px;
  left: 468px;
  width: 96px;
  height: 105.6px;
}
.button-icon2 {
  position: absolute;
  top: 27px;
  left: 22px;
  width: 52px;
  height: 56px;
  object-fit: cover;
}
.c {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 108px;
  left: 586px;
  width: 96px;
  height: 105.6px;
}
.button-icon3 {
  position: absolute;
  top: 27px;
  left: 21px;
  width: 53px;
  height: 56px;
  object-fit: cover;
}
.d {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 108px;
  left: 704px;
  width: 96px;
  height: 105.6px;
}
.button-icon4 {
  position: absolute;
  top: 28px;
  left: 16px;
  width: 63px;
  height: 60px;
  object-fit: cover;
}
.e {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 108px;
  left: 822px;
  width: 96px;
  height: 105.6px;
}
.button-icon5 {
  position: absolute;
  top: 27px;
  left: 26px;
  width: 63px;
  height: 56px;
  object-fit: cover;
}
.f {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 108px;
  left: 940px;
  width: 96px;
  height: 105.6px;
}
.button-icon6 {
  position: absolute;
  top: 26px;
  left: 25px;
  width: 45px;
  height: 58px;
  object-fit: cover;
}
.g {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 103px;
  width: 96px;
  height: 105.6px;
}
.button-icon7 {
  position: absolute;
  top: 26px;
  left: 19px;
  width: 58px;
  height: 53px;
  object-fit: cover;
}
.h {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 221px;
  width: 96px;
  height: 105.6px;
}
.button-icon8 {
  position: absolute;
  top: 25px;
  left: 33px;
  width: 36px;
  height: 59px;
  object-fit: cover;
}
.i {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 339px;
  width: 96px;
  height: 105.6px;
}
.button-icon9 {
  position: absolute;
  top: 22px;
  left: 18px;
  width: 60px;
  height: 65px;
  object-fit: cover;
}
.j {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 457px;
  width: 96px;
  height: 105.6px;
}
.button-icon10 {
  position: absolute;
  top: 26px;
  left: 17px;
  width: 62px;
  height: 61px;
  object-fit: cover;
}
.k {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 575px;
  width: 96px;
  height: 105.6px;
}
.button-icon11 {
  position: absolute;
  top: 27px;
  left: 20px;
  width: 55px;
  height: 51px;
  object-fit: cover;
}
.l {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 693px;
  width: 96px;
  height: 105.6px;
}
.button-icon12 {
  position: absolute;
  top: 27px;
  left: 4px;
  width: 88px;
  height: 59px;
  object-fit: cover;
}
.m {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 811px;
  width: 96px;
  height: 105.6px;
}
.button-icon13 {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 64px;
  height: 51px;
  object-fit: cover;
}
.n {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 929px;
  width: 96px;
  height: 105.6px;
}
.button-icon14 {
  position: absolute;
  top: 27px;
  left: 25px;
  width: 46px;
  height: 52px;
  object-fit: cover;
}
.o {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 1047px;
  width: 96px;
  height: 105.6px;
}
.button-icon15 {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 39px;
  height: 53px;
  object-fit: cover;
}
.p {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 317px;
  left: 1165px;
  width: 96px;
  height: 105.6px;
}
.button-icon16 {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 56px;
  height: 53px;
  object-fit: cover;
}
.q {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 103px;
  width: 96px;
  height: 105.6px;
}
.button-icon17 {
  position: absolute;
  top: 19px;
  left: 20px;
  width: 56px;
  height: 67px;
  object-fit: cover;
}
.r {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 221px;
  width: 96px;
  height: 105.6px;
}
.button-icon18 {
  position: absolute;
  top: 26px;
  left: 12px;
  width: 73px;
  height: 62px;
  object-fit: cover;
}
.s {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 339px;
  width: 96px;
  height: 105.6px;
}
.button-icon19 {
  position: absolute;
  top: 26px;
  left: 28px;
  width: 40px;
  height: 52px;
  object-fit: cover;
}
.t {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 457px;
  width: 96px;
  height: 105.6px;
}
.button-icon20 {
  position: absolute;
  top: 19px;
  left: 23px;
  width: 52px;
  height: 63px;
  object-fit: cover;
}
.u {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 575px;
  width: 96px;
  height: 105.6px;
}
.button-icon21 {
  position: absolute;
  top: 21px;
  left: 20px;
  width: 51px;
  height: 65px;
  object-fit: cover;
}
.v {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 693px;
  width: 96px;
  height: 105.6px;
}
.button-icon22 {
  position: absolute;
  top: 29px;
  left: 3px;
  width: 89px;
  height: 57px;
  object-fit: cover;
}
.w {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 811px;
  width: 96px;
  height: 105.6px;
}
.button-icon23 {
  position: absolute;
  top: 27px;
  left: 22px;
  width: 51px;
  height: 52px;
  object-fit: cover;
}
.x {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 929px;
  width: 96px;
  height: 105.6px;
}
.button-icon24 {
  position: absolute;
  top: 29px;
  left: 18px;
  width: 60px;
  height: 59px;
  object-fit: cover;
}
.y {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 1047px;
  width: 96px;
  height: 105.6px;
}
.button-icon25 {
  top: 26px;
  left: 28px;
  width: 52px;
  height: 49px;
  object-fit: cover;
}
.a-for-child,
.button-icon25,
.z {
  position: absolute;
}
.z {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 526px;
  left: 1165px;
  width: 96px;
  height: 105.6px;
}
.a-for-child {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-linen);
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 101px;
  height: 40px;
}
.a-for,
.axe-icon {
  position: absolute;
  top: 12.5px;
  left: 25.7px;
  width: 47.9px;
  height: 17.5px;
}
.a-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 348px;
  width: 101px;
  height: 40px;
}
.k-for,
.kite-icon {
  position: absolute;
  top: 12.5px;
  left: 24.5px;
  width: 51.1px;
  height: 17.5px;
}
.k-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 572px;
  width: 101px;
  height: 40px;
}
.s-for,
.sun-icon {
  position: absolute;
  top: 12.3px;
  left: 23.5px;
  width: 48.4px;
  height: 17.9px;
}
.s-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 652px;
  left: 339px;
  width: 101px;
  height: 40px;
}
.l-for,
.loin-icon {
  position: absolute;
  top: 12.3px;
  left: 24.5px;
  width: 53px;
  height: 17.9px;
}
.l-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 690px;
  width: 101px;
  height: 40px;
}
.x-for,
.x-ray-icon {
  position: absolute;
  top: 12.5px;
  left: 13.5px;
  width: 75.2px;
  height: 17.5px;
}
.x-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 929px;
  width: 101px;
  height: 40px;
}
.y-for,
.yoyo-icon {
  position: absolute;
  top: 12.3px;
  left: 16.9px;
  width: 67.5px;
  height: 17.9px;
}
.y-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 1044px;
  width: 101px;
  height: 40px;
}
.z-for,
.zebra-icon {
  position: absolute;
  top: 12.5px;
  left: 14.2px;
  width: 78.4px;
  height: 17.5px;
}
.z-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 1162px;
  width: 101px;
  height: 40px;
}
.m-for,
.moon-icon {
  position: absolute;
  top: 13.3px;
  left: 13.9px;
  width: 74.1px;
  height: 17.9px;
}
.m-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 810px;
  width: 101px;
  height: 40px;
}
.n-for,
.nest-icon {
  position: absolute;
  top: 12.3px;
  left: 20.5px;
  width: 61.7px;
  height: 17.9px;
}
.n-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 926px;
  width: 101px;
  height: 40px;
}
.o-for,
.owl-icon {
  position: absolute;
  top: 12.3px;
  left: 21.9px;
  width: 54.5px;
  height: 17.9px;
}
.o-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 1043px;
  width: 101px;
  height: 40px;
}
.g-for,
.grapes-icon {
  position: absolute;
  top: 14.3px;
  left: 10.2px;
  width: 79.8px;
  height: 15px;
}
.g-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 103px;
  width: 101px;
  height: 40px;
}
.h-for,
.house-icon {
  position: absolute;
  top: 14.3px;
  left: 14px;
  width: 68.1px;
  height: 15px;
}
.h-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 442px;
  left: 218px;
  width: 101px;
  height: 40px;
}
.q-for,
.queen-icon {
  position: absolute;
  top: 15.3px;
  left: 15.3px;
  width: 67.1px;
  height: 15.9px;
}
.q-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 652px;
  left: 101px;
  width: 101px;
  height: 40px;
}
.t-for,
.train-icon {
  position: absolute;
  top: 15.5px;
  left: 19.8px;
  width: 59.8px;
  height: 14.5px;
}
.t-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 652px;
  left: 457px;
  width: 101px;
  height: 40px;
}
.v-for,
.violin-icon {
  position: absolute;
  top: 13.3px;
  left: 15.5px;
  width: 66.1px;
  height: 14.9px;
}
.v-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 691px;
  width: 101px;
  height: 40px;
}
.r-for,
.rainbow-icon {
  position: absolute;
  top: 14.2px;
  left: 13px;
  width: 76.6px;
  height: 12px;
}
.r-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 652px;
  left: 219px;
  width: 101px;
  height: 40px;
}
.u-for,
.umbrella-icon {
  position: absolute;
  top: 15.4px;
  left: 7.2px;
  width: 86.2px;
  height: 11.8px;
}
.u-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 573px;
  width: 101px;
  height: 40px;
}
.w-for,
.watermelon-icon {
  position: absolute;
  top: 16.4px;
  left: 4.3px;
  width: 91.8px;
  height: 9.7px;
}
.w-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 651px;
  left: 811px;
  width: 101px;
  height: 40px;
}
.p-for,
.pencil-icon {
  position: absolute;
  top: 14.3px;
  left: 16.3px;
  width: 69.9px;
  height: 14.9px;
}
.p-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 441px;
  left: 1161px;
  width: 101px;
  height: 40px;
}
.i-for,
.ice-cream-icon {
  position: absolute;
  top: 14.2px;
  left: 4.5px;
  width: 86.9px;
  height: 12px;
}
.i-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 442px;
  left: 338px;
  width: 101px;
  height: 40px;
}
.j-for,
.jelly-fish-icon {
  position: absolute;
  top: 14.2px;
  left: 5.8px;
  width: 85.8px;
  height: 12px;
}
.j-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 442px;
  left: 456px;
  width: 101px;
  height: 40px;
}
.cup-icon {
  position: absolute;
  top: 12.3px;
  left: 25.7px;
  width: 49px;
  height: 17.9px;
}
.c-for,
.e-for-child {
  position: absolute;
  width: 101px;
  height: 40px;
}
.c-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 586px;
}
.e-for-child {
  top: 0;
  left: 5px;
  border-radius: var(--br-11xl);
  background-color: var(--color-linen);
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
}
.egg {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 24px;
  display: inline-block;
  font-family: var(--font-inter);
  color: #feaa62;
  text-align: center;
  width: 112px;
  height: 44px;
}
.e-for,
.egg-icon {
  position: absolute;
  top: 12.3px;
  left: 31.9px;
  width: 48.4px;
  height: 17.9px;
}
.e-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 814px;
  width: 112px;
  height: 51px;
}
.f-for,
.frog-icon {
  position: absolute;
  top: 12.3px;
  left: 19.1px;
  width: 64px;
  height: 17.9px;
}
.f-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 937px;
  width: 101px;
  height: 40px;
}
.d-for,
.dolphin-icon {
  position: absolute;
  top: 14.3px;
  left: 5.4px;
  width: 87.2px;
  height: 14.9px;
}
.d-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 704px;
  width: 101px;
  height: 40px;
}
.b-for,
.banana-icon {
  position: absolute;
  top: 14.5px;
  left: 7.5px;
  width: 85.8px;
  height: 14.5px;
}
.b-for {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 223px;
  left: 466px;
  width: 101px;
  height: 40px;
}
.text-icon {
  position: absolute;
  top: 31.8px;
  left: 455.3px;
  width: 388.3px;
  height: 52.8px;
}
.tv-5 {
  position: relative;
  background-color: var(--color-sandybrown-300);
  width: 100%;
  height: 768px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .tv-5 {
    width: 1280%;
  }
}
